<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498863290995-9p1q0khft2ducvla1hmjgc7j083s662i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498863290995-9p1q0khft2ducvla1hmjgc7j083s662i</string>
	<key>API_KEY</key>
	<string>$(GOOGLE_SERVICE_API_KEY)</string>
	<key>GCM_SENDER_ID</key>
	<string>498863290995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.rainbow</string>
	<key>PROJECT_ID</key>
	<string>rainbow-me</string>
	<key>STORAGE_BUCKET</key>
	<string>rainbow-me.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498863290995:ios:9549e5b497700eb0</string>
	<key>DATABASE_URL</key>
	<string>https://rainbow-me.firebaseio.com</string>
</dict>
</plist>