{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-native"
  ],
  "parserOptions": {
    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    }
  },
  "extends" : [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb-base"
  ],
  "rules" : {
    "arrow-body-style": "warn",
    "class-methods-use-this": "off",
    "no-console": "off",
    "max-len": ["error", {"code": 160, "comments": 500}],
    #"max-len": ["off", {"code": 160, "comments": 500}],
    "no-tabs": "error",
    "indent": ["error", 2],
    "no-use-before-define": ["error", {"functions": false, "variables": false}],
    "no-unused-vars": ["error", {"args": "none"}],
    "no-plusplus": ["off"],
    "no-underscore-dangle": ["off"],
    "arrow-parens": ["off"]
  },
  "globals": {
    "fetch": false
  }
}
