{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-native",
    "react-native-animation-linter"
  ],
  "parserOptions": {
    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    }
  },
  "extends" : [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb-base"
  ],
  "rules" : {
    "arrow-body-style": "warn",
    "camelcase": ["error", {ignoreDestructuring: true}],
    "class-methods-use-this": "off",
    "no-console": "off",
    "max-len": ["error", {"code": 160, "comments": 500}],
    "no-tabs": "error",
    "indent": ["error", 2],
    "no-use-before-define": ["error", {"functions": false, "variables": false}],
    "no-unused-vars": ["error", {"args": "none"}],
    "no-plusplus": ["off"],
    "no-underscore-dangle": ["off"],
    "arrow-parens": ["off"],
    "no-param-reassign": ["off"],
    "react-native-animation-linter/must-tear-down-animations": 2,
    "sort-keys": ["error", "asc", {"caseSensitive": false, "natural": false}]
  },
  "globals": {
    "fetch": false
  },
  "settings": {
    "react": {
      "version": "16.5.0"
    }
  }
}
