src/react-native-animated-charts/node_modules/*
src/react-native-animated-charts/Example/node_modules/*
src/react-native-animated-charts/Example/*
patches/reanimated/*
ios/*
android/*
node_modules/*
./node_modules/**
**/node_modules/*
coverage-ts/**
out/
.eslintrc.js
babel.config.js
metro.config.js
jest.config.js
.detoxrc.js
__generated__
coverage
src/browser
src/__swaps__/README.md
InjectedJSBundle.js