.env
ios/GoogleService-Info.plist

# OSX
#
ios/ReaHeader.h
ios/AppDelegate.pch
.DS_Store
ios/Pods/
ios/*dSYM.zip
ios/debug.xcconfig
ios/release.xcconfig
ios/localrelease.xcconfig
ios/staging.xcconfig
ios/Frameworks/GoogleService-Info.plist

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
ios/main.jsbundle.map
src/config/debug.ts

# Android/IntelliJ
#
build/
android/app/src/main/java/me/rainbow/NativeModules/Internals/
.idea
.gradle
local.properties
*.iml
android/app/google-services.json
android/rainbow-google-play-key.json
android/app/src/main/java/me/rainbow/MainActivity.java-e

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# Development Templates
src/screens/ExamplePage.js

#e2e output
e2e/logs/*/*.xml
artifacts/*

# android playstore credentials
pc-api-8090318172169087080-31-b8ee34328314.json

# ios internal files (any additional files will be ignored)
ios/Internals
ios/Extras.json

# Rainbow scripts
rainbow-scripts

# Patches
patches/react-native-webview*

.eslintcache

# design system docs
.next
out/

# Ts-coverage
coverage-ts
.type-coverage/

# Generated TypeScript declarations
src/languages/types-generated.d.ts
__generated__/

# graphql codegen
src/graphql/config.js

# Test Coverage
coverage

# VSCode
.vscode/

# Zed
.zed/

# Webpack
InjectedJSBundle.js.LICENSE.txt
