# Rainbow CODEOWNERS file
CODEOWNERS @salman-rb @estrattonbailey @skylarbarrera @jinchung
LICENSE @jinchung @brunobar79 @nickbytes @estebanmino
README.md @nickbytes @salman-rb @estrattonbailey @skylarbarrera @jinchung
app.json @salman-rb @estrattonbailey @skylarbarrera @jinchung

# ANDROID
android/ @jkadamczyk @skylarbarrera

# IOS
ios/ @benisgold @salman-rb @skylarbarrera

# SECURITY / APP INFRA
patches/ @estrattonbailey @skylarbarrera
scripts/ @jkadamczyk @skylarbarrera

# DESIGN SYSTEM
src/design-system @estrattonbailey @benisgold

# Handlers
src/handlers/aesEncryption.ts @jinchung
src/handlers/authentication.ts @jinchung
src/handlers/cloudBackup.ts @skylarbarrera @jkadamczyk @jinchung

# Model
src/model/backup.ts @salman-rb @jkadamczyk @jinchung
src/model/keychain.ts @salman-rb @estrattonbailey @skylarbarrera @jinchung
src/model/migrations.ts @salman-rb @estrattonbailey @skylarbarrera @jinchung
src/model/wallet.ts @salman-rb @estrattonbailey @skylarbarrera @jinchung

# redux
src/redux/gas.ts @skylarbarrera @estrattonbailey @jinchung
src/redux/nonceManager.ts @derHowie @skylarbarrera @estrattonbailey @jinchung

# navigation
src/navigation @jkadamczyk @skylarbarrera @estrattonbailey

# analytics & logging
src/analytics @estrattonbailey @skylarbarrera

# APP INFRA
package.json @salman-rb @skylarbarrera @estrattonbailey @jinchung
.eslintignore @salman-rb @estrattonbailey @skylarbarrera @jinchung
.eslintrc.js @salman-rb @estrattonbailey @skylarbarrera @jinchung
.gitattributes @salman-rb @estrattonbailey @skylarbarrera @jinchung
.gitignore @salman-rb @estrattonbailey @skylarbarrera @jinchung
.nvmrc @salman-rb @estrattonbailey @skylarbarrera @jinchung
.prettierrc.js @salman-rb @estrattonbailey @skylarbarrera @jinchung
.yarnrc @estrattonbailey @skylarbarrera @jinchung
audit-ci.json @salman-rb @skylarbarrera @estrattonbailey @jinchung
babel.config.js @estrattonbailey @jkadamczyk @skylarbarrera
globals.d.ts @estrattonbailey @skylarbarrera
yarn.lock @salman-rb @estrattonbailey @skylarbarrera @jinchung
tsconfig.json @salman-rb @estrattonbailey @skylarbarrera @jinchung
hardhat.config.js @salman-rb @skylarbarrera @jinchung

# APP INFRA
globalVariables.js @estrattonbailey @skylarbarrera
shim.js @salman-rb @estrattonbailey @skylarbarrera @jkadamczyk
index.js @salman-rb @estrattonbailey @jkadamczyk @skylarbarrera
src/App.js @salman-rb @estrattonbailey @skylarbarrera @jinchung

# SECURITY / APP INFRA
metro.config.js @skylarbarrera @estrattonbailey @jkadamczyk
metro.transform.js @skylarbarrera @estrattonbailey @jkadamczyk
react-native.config.js @salman-rb @skylarbarrera @jkadamczyk @estrattonbailey
