# Rainbow CODEOWNERS file
CODEOWNERS  @benisgold @skylarbarrera @jinchung
LICENSE @jinchung @brunobar79 @nickbytes @estebanmino
README.md @nickbytes  @benisgold @skylarbarrera @jinchung
app.json  @benisgold @skylarbarrera @jinchung

# ANDROID
android/ @skylarbarrera

# IOS
ios/ @benisgold  @skylarbarrera

# SECURITY / APP INFRA
patches/ @benisgold @skylarbarrera
scripts/ @skylarbarrera

# DESIGN SYSTEM
src/design-system @skylarbarrera @benisgold

# Handlers
src/handlers/aesEncryption.ts @jinchung
src/handlers/authentication.ts @jinchung
src/handlers/cloudBackup.ts @skylarbarrera @jinchung

# Model
src/model/backup.ts  @jinchung @skylarbarrera
src/model/keychain.ts  @skylarbarrera @jinchung
src/model/migrations.ts  @benisgold @skylarbarrera @jinchung
src/model/wallet.ts  @skylarbarrera @jinchung

# redux
src/redux/gas.ts @skylarbarrera @benisgold @jinchung

# navigation
src/navigation @skylarbarrera @benisgold

# analytics & logging
src/analytics @benisgold @skylarbarrera

# APP INFRA
package.json  @skylarbarrera @benisgold @jinchung
.eslintignore  @benisgold @skylarbarrera @jinchung
.eslintrc.js  @benisgold @skylarbarrera @jinchung
.gitattributes  @benisgold @skylarbarrera @jinchung
.gitignore  @benisgold @skylarbarrera @jinchung
.nvmrc  @benisgold @skylarbarrera @jinchung
.prettierrc.js  @benisgold @skylarbarrera @jinchung
.yarnrc @benisgold @skylarbarrera @jinchung
audit-ci.json  @skylarbarrera @benisgold @jinchung
babel.config.js  @skylarbarrera
globals.d.ts @benisgold @skylarbarrera
yarn.lock  @benisgold @skylarbarrera @jinchung
tsconfig.json  @benisgold @skylarbarrera @jinchung
hardhat.config.js  @skylarbarrera @jinchung

# APP INFRA
globalVariables.js @benisgold @skylarbarrera
shim.js  @skylarbarrera 
index.js  @benisgold @skylarbarrera
src/App.js  @benisgold @skylarbarrera @jinchung

# SECURITY / APP INFRA
metro.config.js @skylarbarrera @benisgold 
metro.transform.js @skylarbarrera @benisgold 
react-native.config.js  @skylarbarrera @benisgold

# DAPP BROWSER
src/browser @brunobar79 @skylarbarrera @benisgold
src/screens/dapp-browser @brunobar79 @skylarbarrera @benisgold
src/components/DappBrowser @brunobar79 @skylarbarrera @benisgold

