<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.rainbow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-feature android:name="android.hardware.bluetooth" android:required="true"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

  <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/og"
      android:roundIcon="@mipmap/og_round"
      android:allowBackup="false"
      android:theme="@style/BootTheme"
      android:networkSecurityConfig="@xml/network_security_config"
      android:requestLegacyExternalStorage="true"
      android:resizeableActivity="false"
    >
      <meta-data
          android:name="com.google.mlkit.vision.DEPENDENCIES"
          android:value="barcode" />
      <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@mipmap/ic_state_ic_notification"
      />
      <meta-data
        android:name="com.google.firebase.messaging.default_notification_color"
        android:resource="@color/blue100"
        tools:replace="android:resource"
      />
      <activity
        android:name=".MainActivity"
        android:icon="@mipmap/og"
        android:roundIcon="@mipmap/og_round"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:exported="true"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustPan">
        <intent-filter>
            <category android:name="android.intent.category.LAUNCHER" />
            <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
        </intent-filter>
        <!-- Branch URI Scheme -->
        <intent-filter android:autoVerify="true">
          <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.DEFAULT" />
          <category android:name="android.intent.category.BROWSABLE" />
          <data android:scheme="https" />
          <data android:host="rnbwapp.com" />
          <data android:host="rainbow-web.vercel.app" />
          <data android:host="rainbow.me" />
          <data android:host="rnbw.app" />
          <data android:host="rainbowdotme.app.link" />
          <data android:host="rnbwappdotcom.app.link" />
          <data android:host="rainbowdotme-alternate.app.link" />
          <data android:host="rnbwappdotcom-alternate.app.link" />
        </intent-filter>
        <intent-filter>
          <data android:scheme="ethereum" />
          <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.DEFAULT" />
          <category android:name="android.intent.category.BROWSABLE" />
        </intent-filter>
        <intent-filter>
          <data android:scheme="rainbow" />
          <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.DEFAULT" />
          <category android:name="android.intent.category.BROWSABLE" />
        </intent-filter>
        <intent-filter>
          <data android:scheme="wc" />
          <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.DEFAULT" />
          <category android:name="android.intent.category.BROWSABLE" />
        </intent-filter>
      </activity>

      <activity-alias
        android:name="me.rainbow.MainActivityog"
        android:enabled="true"
        android:icon="@mipmap/og"
        android:roundIcon="@mipmap/og_round"
        android:targetActivity=".MainActivity"
        android:exported="true"
      >
        <intent-filter>
          <action android:name="android.intent.action.MAIN" />
          <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity-alias>
      <activity-alias
        android:name="me.rainbow.MainActivityoptimism"
        android:enabled="false"
        android:icon="@mipmap/optimism"
        android:roundIcon="@mipmap/optimism_round"
        android:targetActivity=".MainActivity"
        android:exported="true"
      >
        <intent-filter>
          <action android:name="android.intent.action.MAIN" />
          <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity-alias>
      <activity-alias
        android:name="me.rainbow.MainActivitypixel"
        android:enabled="false"
        android:icon="@mipmap/pixel"
        android:roundIcon="@mipmap/pixel_round"
        android:targetActivity=".MainActivity"
        android:exported="true"
      >
        <intent-filter>
          <action android:name="android.intent.action.MAIN" />
          <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity-alias>
      <activity-alias
        android:name="me.rainbow.MainActivitysmol"
        android:enabled="false"
        android:icon="@mipmap/smol"
        android:roundIcon="@mipmap/smol_round"
        android:targetActivity=".MainActivity"
        android:exported="true"
      >
        <intent-filter>
          <action android:name="android.intent.action.MAIN" />
          <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity-alias>
     <activity-alias
          android:name="me.rainbow.MainActivityzora"
          android:enabled="false"
          android:icon="@mipmap/zora"
          android:roundIcon="@mipmap/zora_round"
          android:targetActivity=".MainActivity"
          android:exported="true"
          >
          <intent-filter>
              <action android:name="android.intent.action.MAIN" />
              <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
      </activity-alias>
      <activity-alias
          android:name="me.rainbow.MainActivitygolddoge"
          android:enabled="false"
          android:icon="@mipmap/golddoge"
          android:roundIcon="@mipmap/golddoge_round"
          android:targetActivity=".MainActivity"
          android:exported="true"
          >
          <intent-filter>
              <action android:name="android.intent.action.MAIN" />
              <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
      </activity-alias>
      <activity-alias
          android:name="me.rainbow.MainActivityraindoge"
          android:enabled="false"
          android:icon="@mipmap/raindoge"
          android:roundIcon="@mipmap/raindoge_round"
          android:targetActivity=".MainActivity"
          android:exported="true"
          >
          <intent-filter>
              <action android:name="android.intent.action.MAIN" />
              <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
      </activity-alias>
      <activity-alias
          android:name="me.rainbow.MainActivitypooly"
          android:enabled="false"
          android:icon="@mipmap/pooly"
          android:roundIcon="@mipmap/pooly_round"
          android:targetActivity=".MainActivity"
          android:exported="true"
          >
          <intent-filter>
              <action android:name="android.intent.action.MAIN" />
              <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
      </activity-alias>
      <activity-alias
          android:name="me.rainbow.MainActivitypoolboy"
          android:enabled="false"
          android:icon="@mipmap/poolboy"
          android:roundIcon="@mipmap/poolboy_round"
          android:targetActivity=".MainActivity"
          android:exported="true"
          >
          <intent-filter>
              <action android:name="android.intent.action.MAIN" />
              <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
      </activity-alias>
      <activity-alias
          android:name="me.rainbow.MainActivityfiniliar"
          android:enabled="false"
          android:icon="@mipmap/finiliar"
          android:roundIcon="@mipmap/finiliar_round"
          android:targetActivity=".MainActivity"
          android:exported="true"
          >
          <intent-filter>
              <action android:name="android.intent.action.MAIN" />
              <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
      </activity-alias>
      <activity-alias
          android:name="me.rainbow.MainActivityadworld"
          android:enabled="false"
          android:icon="@mipmap/adworld"
          android:roundIcon="@mipmap/adworld_round"
          android:targetActivity=".MainActivity"
          android:exported="true"
          >
          <intent-filter>
              <action android:name="android.intent.action.MAIN" />
              <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
      </activity-alias>
      <activity-alias
          android:name="me.rainbow.MainActivityzorb"
          android:enabled="false"
          android:icon="@mipmap/zorb"
          android:roundIcon="@mipmap/zorb_round"
          android:targetActivity=".MainActivity"
          android:exported="true"
          >
          <intent-filter>
              <action android:name="android.intent.action.MAIN" />
              <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
      </activity-alias>
      <activity-alias
          android:name="me.rainbow.MainActivityfarcaster"
          android:enabled="false"
          android:icon="@mipmap/farcaster"
          android:roundIcon="@mipmap/farcaster_round"
          android:targetActivity=".MainActivity"
          android:exported="true"
          >
          <intent-filter>
              <action android:name="android.intent.action.MAIN" />
              <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
      </activity-alias>

      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
      <!-- Branch init -->
      <meta-data android:name="io.branch.sdk.BranchKey" android:value="${BRANCH_KEY}" />
      <meta-data android:name="io.branch.sdk.TestMode" android:value="false" />
    </application>

</manifest>
