<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>method</key>
  <string>ad-hoc</string>
  <key>signingStyle</key>
  <string>manual</string>
  <key>stripSwiftSymbols</key>
  <true/>
  <key>compileBitcode</key>
  <false/>
  <key>destination</key>
  <string>export</string>
  <key>provisioningProfiles</key>
  <dict>
    <key>me.rainbow</key><string>match AdHoc me.rainbow</string>
    <key>me.rainbow.PriceWidget</key><string>match AdHoc me.rainbow.PriceWidget</string>
    <key>me.rainbow.SelectTokenIntent</key><string>match AdHoc me.rainbow.SelectTokenIntent</string>
    <key>me.rainbow.ImageNotification</key><string>match AdHoc me.rainbow.ImageNotification</string>
    <key>me.rainbow.OpenInRainbow</key><string>match AdHoc me.rainbow.OpenInRainbow</string>
    <key>me.rainbow.ShareWithRainbow</key><string>match AdHoc me.rainbow.ShareWithRainbow</string>
  </dict>
</dict>
</plist>
