<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>944919125796-bitokvoqd0c40qincv60h85guak41rjn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944919125796-bitokvoqd0c40qincv60h85guak41rjn</string>
	<key>API_KEY</key>
	<string>AIzaSyBp_tWYHKxXwcBSc1mp7pPIR_fufVHZBzg</string>
	<key>GCM_SENDER_ID</key>
	<string>944919125796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.balance.balancewallet</string>
	<key>PROJECT_ID</key>
	<string>balance-424a3</string>
	<key>STORAGE_BUCKET</key>
	<string>balance-424a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944919125796:ios:58255248a8c10bbf</string>
	<key>DATABASE_URL</key>
	<string>https://balance-424a3.firebaseio.com</string>
</dict>
</plist>