<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Rainbow</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>adworld</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>adworld</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>farcaster</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>farcaster</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>finiliar</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>finiliar</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>golddoge</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>golddoge</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>og</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>og</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>optimism</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>optimism</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pixel</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pixel</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>poolboy</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>poolboy</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pooly</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pooly</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>raindoge</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>raindoge</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>smol</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>smol</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>zora</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>zora</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>zorb</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>zorb</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>redacted</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>redacted</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>og</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>me.rainbow</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rainbow</string>
				<string>wc</string>
				<string>ethereum</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>itms</string>
		<string>itms-apps</string>
		<string>twitter</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This allows Rainbow to find and pair a Ledger Nano X</string>
	<key>NSCameraUsageDescription</key>
	<string>This lets you scan QR codes for connecting to dApps and discovering wallets</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Used to sign transactions and access wallet keys</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This allows Rainbow to save images to your Camera Roll</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This allows Rainbow to display selected photos as avatars across each of your wallet addresses</string>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.me.rainbow</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>me.rainbow</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>One</string>
		</dict>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>SelectTokenIntent</string>
	</array>
	<key>RCTAsyncStorageExcludeFromBackup</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>SF-Mono-Bold.otf</string>
		<string>SF-Mono-Semibold.otf</string>
		<string>SF-Pro-Rounded-Black.otf</string>
		<string>SF-Pro-Rounded-Bold.otf</string>
		<string>SF-Pro-Rounded-Heavy.otf</string>
		<string>SF-Pro-Rounded-Medium.otf</string>
		<string>SF-Pro-Rounded-Regular.otf</string>
		<string>SF-Pro-Rounded-Semibold.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>branch_app_domain</key>
	<string>$(BRANCH_APP_DOMAIN)</string>
	<key>branch_key</key>
	<string>$(BRANCH_KEY)</string>
</dict>
</plist>
