<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Rainbow</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>rainbow</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rainbow</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CodePushDeploymentKey</key>
	<string>$(CODEPUSH_KEY)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>itms</string>
		<string>itms-apps</string>
		<string>twitter</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Rainbow</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Rainbow</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Rainbow</string>
	<key>NSCameraUsageDescription</key>
	<string>Used to scan QR codes</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Used to sign transactions</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Rainbow</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Rainbow</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Rainbow</string>
	<key>NSMotionUsageDescription</key>
	<string>Rainbow</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Rainbow</string>
	<key>UIAppFonts</key>
	<array>
		<string>Graphik-Black.otf</string>
		<string>Graphik-BlackItalic.otf</string>
		<string>Graphik-Bold.otf</string>
		<string>Graphik-BoldItalic.otf</string>
		<string>Graphik-Extralight.otf</string>
		<string>Graphik-ExtralightItalic.otf</string>
		<string>Graphik-Light.otf</string>
		<string>Graphik-LightItalic.otf</string>
		<string>Graphik-Medium.otf</string>
		<string>Graphik-MediumItalic.otf</string>
		<string>Graphik-Regular.otf</string>
		<string>Graphik-RegularItalic.otf</string>
		<string>Graphik-Semibold.otf</string>
		<string>Graphik-SemiboldItalic.otf</string>
		<string>Graphik-Super.otf</string>
		<string>Graphik-SuperItalic.otf</string>
		<string>Graphik-Thin.otf</string>
		<string>Graphik-ThinItalic.otf</string>
		<string>SF-Pro-Display-Black.otf</string>
		<string>SF-Pro-Display-BlackItalic.otf</string>
		<string>SF-Pro-Display-Bold.otf</string>
		<string>SF-Pro-Display-BoldItalic.otf</string>
		<string>SF-Pro-Display-Heavy.otf</string>
		<string>SF-Pro-Display-HeavyItalic.otf</string>
		<string>SF-Pro-Display-Light.otf</string>
		<string>SF-Pro-Display-LightItalic.otf</string>
		<string>SF-Pro-Display-Medium.otf</string>
		<string>SF-Pro-Display-MediumItalic.otf</string>
		<string>SF-Pro-Display-Regular.otf</string>
		<string>SF-Pro-Display-RegularItalic.otf</string>
		<string>SF-Pro-Display-Semibold.otf</string>
		<string>SF-Pro-Display-SemiboldItalic.otf</string>
		<string>SF-Pro-Display-Thin.otf</string>
		<string>SF-Pro-Display-ThinItalic.otf</string>
		<string>SF-Pro-Display-Ultralight.otf</string>
		<string>SF-Pro-Display-UltralightItalic.otf</string>
		<string>SF-Pro-Text-Bold.otf</string>
		<string>SF-Pro-Text-BoldItalic.otf</string>
		<string>SF-Pro-Text-Heavy.otf</string>
		<string>SF-Pro-Text-HeavyItalic.otf</string>
		<string>SF-Pro-Text-Light.otf</string>
		<string>SF-Pro-Text-LightItalic.otf</string>
		<string>SF-Pro-Text-Medium.otf</string>
		<string>SF-Pro-Text-MediumItalic.otf</string>
		<string>SF-Pro-Text-Regular.otf</string>
		<string>SF-Pro-Text-RegularItalic.otf</string>
		<string>SF-Pro-Text-Semibold.otf</string>
		<string>SF-Pro-Text-SemiboldItalic.otf</string>
		<string>SFMono-Bold.otf</string>
		<string>SFMono-Heavy.otf</string>
		<string>SFMono-Light.otf</string>
		<string>SFMono-Medium.otf</string>
		<string>SFMono-Regular.otf</string>
		<string>SFMono-Semibold.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
