<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:rnbwapp.com</string>
		<string>applinks:rnbw.app</string>
		<string>applinks:rnbwappdotcom.app.link</string>
		<string>applinks:rnbwappdotcom-alternate.app.link</string>
		<string>applinks:rainbowdotme.app.link</string>
		<string>applinks:rainbowdotme-alternate.app.link</string>
		<string>applinks:rainbow-web.vercel.app</string>
		<string>applinks:rainbow.me</string>
		<string>webcredentials:rainbow.me</string>
	</array>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array>
		<string>iCloud.me.rainbow</string>
	</array>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudDocuments</string>
	</array>
	<key>com.apple.developer.in-app-payments</key>
	<array>
		<string>merchant.me.rainbow</string>
		<string>merchant.me.rainbow.test</string>
	</array>
	<key>com.apple.developer.ubiquity-container-identifiers</key>
	<array>
		<string>iCloud.me.rainbow</string>
	</array>
	<key>com.apple.developer.ubiquity-kvstore-identifier</key>
	<string>$(TeamIdentifierPrefix)$(CFBundleIdentifier)</string>
</dict>
</plist>
