name: iOS e2e tests

on: [pull_request, workflow_dispatch]
jobs:
  ios-e2e:
    runs-on: ["self-hosted", "CI-9"]
    concurrency: 
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    permissions:
      contents: read

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up github keys
        run: git config core.sshCommand "ssh -i ~/.ssh/id_ed25519 -F /dev/null"

      - name: Clean iOS app
        run: yarn clean:ios > /dev/null 2>&1 || true

      - name: Set up ENV vars & scripts
        env:
          CI_SCRIPTS_RN_UPGRADE: ${{ secrets.CI_SCRIPTS_RN_UPGRADE }}
        run: |
          source ~/.bashrc
          git clone git@github.com:rainbow-me/rainbow-env.git
          mv rainbow-env/dotenv .env && rm -rf rainbow-env
          eval $CI_SCRIPTS_RN_UPGRADE
          sed -i'' -e "s/IS_TESTING=false/IS_TESTING=true/" .env && rm -f .env-e 
      
      - name: Version debug
        run: |
          echo "Node version:" $(node -v)
          echo "Node path:" $(which node)
          echo "Ruby Version: " $(ruby -v)
          echo "Yarn Version: " $(yarn -v)
          echo "Cocoapods Version: " $(pod --version)

      # - name: Cache Yarn dependencies
      #   uses: actions/cache@v2
      #   with:
      #     path: |
      #       ~/.cache/yarn
      #       node_modules
      #     key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
      #     restore-keys: |
      #       ${{ runner.os }}-yarn-

      - name: Install dependencies
        run: |
          yarn cache clean --all && yarn install && yarn setup

      # - name: Check for frozen lockfile
      #   run: ./scripts/check-lockfile.sh

      # - name: Audit CI
      #   run: yarn audit-ci --config audit-ci.jsonc

      # - name: Lint
      #   run: yarn lint:ci

      # - name: Unit tests
      #   run: yarn test

      - name: Rebuild detox cache
        run: ./node_modules/.bin/detox clean-framework-cache && ./node_modules/.bin/detox build-framework-cache

      - name: Install pods
        run: yarn install-bundle && yarn install-pods

      - name: Build the app in release mode
        run: yarn detox build --configuration ios.sim.release | xcpretty --color

      # change the '3' here to how many times you want the tests to rerun on failure
      - name: Run iOS e2e tests with retry
        run: ./scripts/run-retry-tests.sh 3
